*.jpg
*.png
*.bmp
*.avi

*.sln
*.pdb
*.proj
*.user
*.filters
*.vcxproj
*.tlog
*.rc
*.exe
*.obj
*.log
*.res
*.lastbuildstate
*.manifest
*.idb
*.sdf
*.suo
*.ilk
*.ipch
*.exp
*.unsuccessfulbuild

BagOfFeatures/svm.h
BagOfFeatures/svm.cpp
